In [ ]:
import matplotlib.pyplot as plt
import pandas as pd 
import numpy as np
import requests 
import gmaps
import os
from api_keys import g_key

In [8]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

import requests

#pull csv from weatherpy
city_data = pd.read_csv("city_data.csv")

city_data.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Hofn,64.2539,-15.2082,46.42,53,20,19.57,IS,1665073767
1,1,Abu Samrah,35.3029,37.1841,79.47,26,0,5.30,SY,1665073769
2,2,Punta Arenas,-53.1500,-70.9167,44.71,57,75,17.27,CL,1665073772
3,3,Tasiilaq,65.6145,-37.6368,42.96,72,91,2.17,GL,1665073773
4,4,Ciudad Bolivar,8.1222,-63.5497,83.48,68,100,4.16,VE,1665073775

In [ ]:
df = pd.read_csv(r'Path where the CSV file is stored\city_data.csv')
print(df)

In [17]:
gmaps.configure(g_key)

In [18]:
locations = city_data[["Lat", "Lng"]]
weights = city_data['Humidity']
fig = gmaps.figure(center=(20.0, 0.0), zoom_level=2)
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))

fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
city_name = []


for index, row in city_data.iterrows():
    if row["Cloudiness"] == 0:
        if row ["Wind Speed"] < 10:
            if row["Max Temp"] >70 and row["Max Temp"]<90:
                city_name.append(row)

city_weather_df = pd.DataFrame(city_name)

city_weather_df.to_csv("city_perfect_weather.csv")
city_weather_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Abu Samrah,35.3029,37.1841,79.47,26,0,5.30,SY,1665073769
20,20,Houston,29.7633,-95.3633,84.94,62,0,6.91,US,1665073602
39,39,Mt. Pleasant,32.7941,-79.8626,79.99,50,0,4.61,US,1665073830
46,46,Upington,-28.4478,21.2561,84.58,6,0,9.22,ZA,1665073831
52,52,Bethel,41.3712,-73.4140,72.41,60,0,1.01,US,1665073849

In [22]:
base_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input="

input = "Hotel"
radius = "5000"

In [23]:
hotel_df = city_weather_df

hotel_df["Hotel Name"] = ''

hotel_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
1,1,Abu Samrah,35.3029,37.1841,79.47,26,0,5.30,SY,1665073769,
20,20,Houston,29.7633,-95.3633,84.94,62,0,6.91,US,1665073602,
39,39,Mt. Pleasant,32.7941,-79.8626,79.99,50,0,4.61,US,1665073830,
46,46,Upington,-28.4478,21.2561,84.58,6,0,9.22,ZA,1665073831,
52,52,Bethel,41.3712,-73.4140,72.41,60,0,1.01,US,1665073849,

In [27]:
#loop through narrowed down cities and find hotels
#hotels = []

for index, row in hotel_df.iterrows():
    latitude = row["Lat"]
    longitude = row["Lng"]

    target_url = (f"{base_url}{input}&key={g_key}&inputtype=textquery&fields=name,formatted_address&locationbias=circle:{radius}@{latitude},{longitude}")
    
    response = requests.get(target_url).json()

    try:
        hotel_df.loc[index, 'Hotel Name'] = response["candidates"][0]["name"]

    except:
        print(f"There are no hotels here!")
        pass
    
    #sleep(0.5)
    
hotel_df.to_csv('hotel_df.csv') 
hotel_df.head(20)

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
1,1,Abu Samrah,35.3029,37.1841,79.47,26,0,5.30,SY,1665073769,آل حمدان
20,20,Houston,29.7633,-95.3633,84.94,62,0,6.91,US,1665073602,Courtyard by Marriott Houston Heights/I-10
39,39,Mt. Pleasant,32.7941,-79.8626,79.99,50,0,4.61,US,1665073830,Charleston Harbor Resort and Marina
46,46,Upington,-28.4478,21.2561,84.58,6,0,9.22,ZA,1665073831,Protea by Marriott Hotel Upington
52,52,Bethel,41.3712,-73.4140,72.41,60,0,1.01,US,1665073849,Wyndham Southbury
93,93,Cornwall,45.0181,-74.7281,71.26,56,0,6.91,CA,1665073762,Quality Inn
134,134,Jalu,29.0331,21.5482,78.75,34,0,8.86,LY,1665073968,إستراحة صلاح الصادق
136,136,Saint George,37.1041,-113.5841,74.43,35,0,1.99,US,1665073972,Red Lion Hotel & Conference Center St. George
156,156,Kapaa,22.0752,-159.3190,75.18,88,0,8.05,US,1665074004,Kauai Shores Hotel
166,166,Freeport,40.6576,-73.5832,73.29,53,0,6.91,US,1665074018,The Freeport Inn and Marina
170,170,Morgan City,29.6994,-91.2068,82.02,57,0,8.05,US,1665073840,Holiday Inn Express & Suites Morgan City - Tig...
199,199,Zhob,31.3411,69.4481,72.39,32,0,2.26,PK,1665074066,Al Amarat Hotel
204,204,Delījān,33.9905,50.6838,73.85,15,0,4.54,IR,1665074072,Rezvan Hotel
205,205,Mayo,38.8876,-76.5119,75.11,60,0,1.99,US,1665074074,DoubleTree by Hilton Hotel Annapolis
235,235,Makakilo City,21.3469,-158.0858,73.98,83,0,5.75,US,1665074000,Hampton Inn & Suites Oahu/Kapolei
237,237,Umluj,25.0213,37.2685,85.57,69,0,6.44,SA,1665074118,HP Red Sea Hotel
244,244,Caxias,38.7031,-9.2767,83.53,62,0,6.91,PT,1665074127,Hotel Vila Galé Collection Palácio dos Arcos
269,269,Stephenville,32.2207,-98.2023,84.33,31,0,1.99,US,1665074067,Hampton Inn & Suites Stephenville
279,279,Kashmor,28.4333,69.5833,87.94,22,0,1.63,PK,1665074179,Ghouri Hotel Kashmore
287,287,Ormara,25.2088,64.6357,80.35,74,0,6.85,PK,1665074191,Al Qadri Hotel Zero Point Ormara

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [29]:
# Add marker layer ontop of heat map


# Display figure

locations = hotel_df[["Lat", "Lng"]]
weights = hotel_df['Humidity']
fig = gmaps.figure(center=(20.0, 0.0), zoom_level=2)
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))

# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations)

# Add the layer to the map
fig.add_layer(markers)


# Display Map
fig

Figure(layout=FigureLayout(height='420px'))